repos:
  - repo: builtin
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: check-executables-have-shebangs
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-docstring-first
      - id: check-vcs-permalinks
      - id: debug-statements

  # Lua formatting
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v2.3.1
    hooks:
      - id: stylua-github

  # Lua linting
  - repo: https://github.com/lunarmodules/luacheck
    rev: v1.2.0
    hooks:
      - id: luacheck

  # Lua linting
  - repo: https://github.com/jeffzi/llscheck
    rev: v0.8.0
    hooks:
      - id: llscheck
        args: ["--checklevel", "Hint"]

  # JSON, YAML, Markdown, TOML formatting
  - repo: local
    hooks:
      - id: dprint
        name: dprint
        entry: dprint fmt --diff
        language: system
        types_or: [json, yaml, markdown, toml]

  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2

  # GitHub Actions linter
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.11
    hooks:
      - id: actionlint

  # Conventional commit messages
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
