name: Busted

on: [push, pull_request]

jobs:
  busted:
    strategy:
      fail-fast: false
      matrix:
        luaVersion: ["5.4", "5.3", "5.2", "5.1", "luajit-openresty"]
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Lua
        uses: leafo/gh-actions-lua@v12
        with:
          luaVersion: ${{ matrix.luaVersion }}

      - name: Setup LuaRocks
        uses: leafo/gh-actions-luarocks@v6
        with:
          luarocksVersion: "3.12.2"

      - name: Setup dependencies
        run: |
          luarocks install busted
          luarocks install chronos
          luarocks install luaposix
          luarocks install luasocket
          luarocks install https://raw.githubusercontent.com/siffiejoe/lua-allocspy/refs/heads/master/allocspy-scm-0.rockspec

      - name: Run tests
        run: busted

  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Lua
        uses: leafo/gh-actions-lua@v12
        with:
          luaVersion: "5.4"

      - name: Setup LuaRocks
        uses: leafo/gh-actions-luarocks@v6
        with:
          luarocksVersion: "3.12.2"

      - name: Setup dependencies
        run: |
          luarocks install busted
          luarocks install luacov
          luarocks install chronos
          luarocks install luaposix
          luarocks install luasocket
          luarocks install https://raw.githubusercontent.com/siffiejoe/lua-allocspy/refs/heads/master/allocspy-scm-0.rockspec

      - name: Run tests with coverage
        run: busted -c

      - name: Print coverage summary
        run: luacov && tail -7 luacov.report.out
